Source: ros-humble-ignition-math6-vendor
Section: misc
Priority: optional
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, git, libeigen3-dev, libignition-math6-dev, ros-humble-ament-cmake-copyright <!nocheck>, ros-humble-ament-cmake-lint-cmake <!nocheck>, ros-humble-ament-cmake-test, ros-humble-ament-cmake-xmllint <!nocheck>, ros-humble-ignition-cmake2-vendor, ros-humble-ros-workspace
Homepage: https://github.com/ignitionrobotics/ign-math
Standards-Version: 3.9.2

Package: ros-humble-ignition-math6-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libignition-math6-dev, ros-humble-ignition-cmake2-vendor, ros-humble-ros-workspace
Description: This package provides the Ignition Math 6.x library.
